.about-container {
  margin-top: 300px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.about-part1 {
  display: flex;
  flex-direction: column;
  .section1 {
    .chairman {
      width: 300px;
      height: 300px;
      border-radius: 50%;
    }
  }

  .section2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Montserrat-Heavy;

    .name {
      margin-top: 20px;
      font-size: 30px;
      font-family: Montserrat-Bold;
    }
    .role {
      font-family: Montserrat;
      color: #648188;
      font-size: 15px;
    }
  }
}

.vertical {
  border-left: 2px solid #000;
  margin-top: 15px;
  height: 350px;
}

.about-part2 {
  width: 50%;

  .heading {
    font-family: Anton, sans-serif;
  }
  .about-desc {
    font-family: Montserrat, sans-serif;
  }
}

@media screen and (max-width: 640px) {
  .about-part1 {
    justify-content: center;
    align-items: center;
    .section1 {
      .chairman {
        width: 200px;
        height: 200px;
        justify-content: center;
        align-items: center;
      }
    }
  }

  .about-part2 {
    width: 90%;
  }

  .about-desc {
    font-size: 12px;
    width: 100%;
  }

  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vertical {
    display: none;
  }
}

@media screen and (max-width: 768px) {
  .about-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 0;
    margin-left: 0;
  }

  .vertical {
    display: none;
  }
}
