.about-container {
  margin-top: 300px;
  margin-bottom: 300px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;


  @media screen and (max-width: 768px) {
    .about-container {
      flex-direction: column;
    }
    .vertical {
      display: none; /* Hide the vertical section */
    }
  }

  .about-part1 {
    .section1 {
      // margin-left: 100px;
      .chairman {
        width: 300px;
        height: 300px;
        border-radius: 50%;
      }
    }

    .section2 {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-family: Mont Heavy;

      .name {
        margin-top: 20px;
        font-size: 30px;
        font-family: Montserrat-bold;
      }
      .role {
        font-family: montserrat;
        color: #648188;
        font-size: 15px;
      }
    }
  }

  .vertical {
    border-left: 2px solid #000;
    display: flex;
    margin-top: 15px;
    height: 350px;
  }

  .about-part2 {
    width: 50%;

    .heading {
      font-family: Anton;
    }
    .about-desc {
      font-family: Montserrat;
    }
  }
}
