.navbar-container {
  background-color: #fff;
  height: 80px;
  width: 100%;
  position: absolute;
  margin-top: 54px;
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: space-between;
  left: 0;
  top: 0;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.504);
  padding-bottom: 5px;

  .logo-container {
    display: flex;
    flex-direction: row;

    align-items: center;
    text-align: center;

    .logo {
      width: 280px;
      height: 100%;
      margin-top: 8px;
    }
  }

  .options {
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: Montserrat;
    margin-left: 100px;
    margin-top: 10px;
    gap: 20px;
    margin-right: 50px;
    cursor: pointer;
    color: #ba1f24;

    p {
      text-decoration: none;

      &:hover {
        border-bottom: 3px solid;
        color: #050606;
        animation: slideRight 2s linear infinite;
      }
    }
    .menu-btn {
      // padding: 10px;
      margin-bottom: 3px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      text-decoration: none;
      font-family: Montserrat-Bold;
      font-size: 15px;
      cursor: pointer;
      border: none;
      color: #050606;
      // background-color: #648188;
      // margin-right: 30px;

      .menu-icon {
        font-size: 22px;
        // margin-left: 10px;
      }
    }
  }
}
@media screen and (max-width: 640px) {
  .navbar-container {
    position: fixed;
    margin: 0;
    z-index: 99;

    .options & p {
      visibility: hidden;
    }
  }
}
@media screen and (max-width: 768px) {
  .navbar-container {
    position: fixed;
    margin: 0;
    z-index: 99;

    .options & p {
      visibility: hidden;
    }
  }
}
