.header-container {
  background: #000;
  height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  // padding: 15px;
  color: white;
  
  @media (max-width: 600px) {
    .header-container {
      display: none;
    }
  }
  
  @media (max-width: 1024px) {
    /* Add a media query for tablet-sized screens if needed */
    // .header-container {
    //   display: none;
    // }
  }
  
  .header-section1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-left: 30px;
    .phone-icon-header {
      color: #fff;
      font-size: 30px;
      border: 1px solid;
      padding: 5px;
      border-radius: 50px;
      border-style: ridge;

      
    }
    
    .mobile-numbers {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      cursor: pointer;
      gap: 10px;
      
         .mob-no {
        font-family: Montserrat;
        color: #fff;
        text-decoration: none;
        text-align: center;
        

        &:hover {
          color: #ba1f24;
        }
      }
    }
    
    
  
  }
  
  
  .header-section2 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: Montserrat;
    margin-right: 40px;

    .mail-icon-header {
      color: #fff;
      font-size: 30px;
      border: 1px solid;
      padding: 5px;
      border-radius: 50px;
      border-style: ridge;
    }
    
    .mail-id-section {
      display: flex;
      align-items: center;
      gap: 10px;
      cursor: pointer;
      .mail-id {
        font-family: Montserrat;
        color: #fff;
        // text-decoration: none;

        // &::after{
        //   content: "|";
        //   margin-left: 10px;
        // }
      
        &:hover {
          color: #ba1f24;
        }
      }
    }
    
    .socials {
      display: flex;
      flex-direction: row;
      gap: 15px;
      cursor: pointer;
    }
    
    .socialicon {
      color: #fff;
      font-size: 30px;
      border: 1px solid;
      padding: 5px;
      border-radius: 50px;
      border-style: ridge;
    
      &:hover {
        color: #ba1f24;
      }
    }
    
    
  
  }
  
}

