.gallery {
  display: flex;
  flex-direction: column;

  .gallery-container {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 200px;
    margin-bottom: 200px;

    .image-cards {
      display: flex;
      flex-wrap: wrap;
      gap: 10px;
      justify-content: center;
      align-items: center;

      .card {
        border: none;
      }

      .card1 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img1.jpg");
      }
      .card2 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img2.jpeg");
      }
      .card3 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img3.jpg");
      }
      .card4 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img4.jpg");
      }
      .card5 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img5.jpg");
      }
      .card6 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img6.jpeg");
      }
      .card7 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img7.jpeg");
      }
      .card8 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img8.jpeg");
      }
      .card9 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img9.jpeg");
      }
      .card10 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img10.jpeg");
      }
      .card11 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img11.jpeg");
      }
      .card12 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img12.jpeg");
      }
      .card13 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img13.jpeg");
      }
      .card14 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img14.jpeg");
      }
      .card15 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img15.jpeg");
      }
      .card16 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img16.jpeg");
      }
      .card17 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img17.jpeg");
      }
      .card18 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img18.jpeg");
      }
      .card19 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img19.jpeg");
      }
      .card20 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img20.jpeg");
      }
      .card21 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img21.jpeg");
      }
      .card22 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img22.jpeg");
      }
      .card23 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img23.jpeg");
      }
      .card24 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img24.jpeg");
      }
      .card25 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img25.jpeg");
      }
      .card26 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img26.jpeg");
      }
      .card27 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img27.jpeg");
      }
      .card28 {
        width: 400px;
        height: 300px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        background-image: url("../../assets/Images/img28.jpeg");
      }
    }
  }
}
@media screen and (max-width: 480px) {
  .gallery {
    .gallery-container {
      flex-direction: column;
      justify-content: center;
      align-items: center;

      .image-cards {
        .card {
          width: 300px;
          height: 200px;
          border: none;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
}
