@font-face {
  font-family: "Montserrat-Bold"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/Montserrat-Bold.woff") format("woff"); /* Path to your font file */
}
@font-face {
  font-family: "Anton"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/anton.woff") format("woff"); /* Path to your font file */
}

@font-face {
  font-family: "Montserrat"; /* The name you want to give to your font */
  src: url("../src/assets/fonts/Montserrat-Regular.woff") format("woff"); /* Path to your font file */
}

a {
  text-decoration: none;
  color: inherit;
}
